@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans:300);

body {
    display: flex;
    font-family: 'Alegreya Sans', sans-serif;
}

.foot {
  margin-top: auto;
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 50px;
}