<!-- Ahora que tenemos un template padre como base, no necesitamos el doctype en cada template hija
Pero para implementar esto, necesitamos extender la plantilla padre en esta: -->
{% extends "blog/base.html" %}
<!-- Ahora para que se sobreescriba exitosamente lo que pondremos, debemos insertar los block e identar lo que usaremos-->
{% block content %}
    <h1>Contacto</h1>
    <p style="color:blue;font-size: 20px;font-family: 'Courier New', Courier, monospace;">
        <hr>
        Correo:
        <hr>
        RRSS:
        <hr>
        Número:
    </p>

{% endblock content %}